{% extends 'layout.html' %}
{% block title %}WC LineUp - Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block content %}
<div>
    <p>It's good to see you, {{ user.username }}</p>
</div>
<div>
    <h2>Welcome to World Cup Line-Up Maker</h2>
    <p>
        Here, you can create your own lines-ups of the 2022 World Cup teams. For now there are only 8 teams available.
        For your line-ups you can use the basic formations that we've created but also create your own formations templates.

    </p>
</div>
{% endblock %}