{% extends 'layout.html' %}
{% block title %}WC LineUp - LineUps{% endblock %}
{% block h1 %}Your LineUps{% endblock %}
{% block content %}
    <div>
        <div class="container-fluid ms-4 mb-4">
            <a href="{% url 'line_up_form' %}">Create a new line-up</a>
        </div>
        <table class="table m-4">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Squad</th>
            <th scope="col">Formation</th>
        </tr>
        {% for line_up in line_up_list %}
            {% if line_up.creator == user %}
                <tr>
                    <td><a href="{% url 'line_up' line_up.pk %}">{{ line_up.name }}</a></td>
                    <td>{{ line_up.squad }}</td>
                    <td>{{ line_up.formation }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        </table>
    </div>
{% endblock %}
